/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/* Tags */

body {
	font-family: 'Karla', sans-serif;
	overflow-x: hidden;
}

section.contact {
	background-color: lightgrey;
	min-height: 300px;
}

.products a {
	color: black;
}

a:hover {
	text-decoration: none;
}

/* Classes */

section {
	padding-bottom: 50px;
	justify-content: center;
}

.navbar {
	font-size: larger;
	font-weight: 700;
}

.nav-link {
	margin-left: 20px;
	transition: all 0.2s;
	font-size: 90%;
}

.row {
	margin-bottom: 50px;
}

.div-center {
	display: flex;
	align-items: center;
}

.text-align-right {
	text-align: end;
}

.text-align-left {
	text-align: start;
}

.text-align-center {
	text-align: center;
}

.feature-text {
	font-size: 250%;
}

.profile-content {
	font-size: 120%;
}

.feature-img {
	width: 100%;
}

.profile-img {
	width: 80%;
}

.section-heading {
	text-align: center;
	font-size: 360%;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 30px;
}

.profile-name {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	font-size: 180%;
}

.profile-college {
	font-size: 120%;
	margin-bottom: 10px;
}

.instructor-name {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	font-size: 220%;
	padding-bottom: 20px;
}

.instructor-bio {
	font-size: 150%;
	padding-bottom: 20px;
}

.instructor-desig {
	font-size: 120%;
	padding-bottom: 30px;
}

.instructor-company {
	height: 30px;
	margin: 10px;
}

.contact-heading {
	border: hotpink 50px;
}

@media screen and (max-width: 991px) {
	.instructor-data {
		text-align: center;
	}
}

@media screen and (min-width: 992px) {
	.instructor-data {
		text-align: left;
	}
}

.company {
	width: 40%;
	padding: 7px 3px 0px 3px;
}

.company-xxl {
	width: 100%;
	padding: 7px 3px 0px 3px;
}

.company-xl {
	width: 70%;
	padding: 7px 3px 0px 3px;
}

.company-lg {
	width: 50%;
	padding: 7px 3px 0px 3px;
}

.company-sm {
	width: 30%;
	padding: 7px 3px 0px 3px;
}

.company-xs {
	width: 20%;
	padding: 7px 3px 0px 3px;
}

.company-xxs {
	width: 10%;
	padding: 7px 3px 0px 3px;
}

.company-xxxs {
	width: 5%;
	padding: 7px 3px 0px 3px;
}

.profile {
	margin-bottom: 50px;
	/* height: 1000px; */
}

.carousel-item .profile-img {
	width: 20%;
}

.testimonial-content {
	font-size: 120%;
}

.carousel-inner {
	height: 700px !important;
}

.companies-crawler-img {
	width: 150px;
	margin: 10px;
	vertical-align: middle;
}

.carousel-control-next {
	bottom: 500px;
}

.carousel-control-prev {
	bottom: 500px;
}

@media screen and (min-width: 768px) {
	.testimonial-card {
		padding: 20px;
	}
}

@media screen and (max-width: 767px) {
	.testimonial-card {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 20px;
	}
}

@media screen and (min-width: 992px) {
	#welcomeText {
		margin-top: 200px;
	}
	#collabImage {
		margin-top: 200px;
	}
}

@media screen and (max-width: 991px) {
	#welcomeText {
		margin-top: 150px;
		text-align: center;
	}
	#welcomeDescription {
		text-align: center;
	}
	#collabImage {
		margin-top: 50px;
	}
}

@media screen and (min-width: 768px) {
	.feature-text {
		font-size: 250%;
	}
}

@media screen and (max-width: 767px) {
	.feature-text {
		font-size: 150%;
	}
	.carousel-item .profile-img {
		width: 50%;
	}
	.carousel-inner {
		height: 900px !important;
	}
	.testimonial-content {
		margin-left: 0px;
		margin-right: 0px;
		font-size: 100%;
	}
}

@media screen and (max-width: 575px) {
	#contactForm {
		width: 300px;
	}
}

/* IDs */

#navbarLogo {
	transition: all 0.2s;
}

#welcomeText {
	font-size: 360%;
	font-weight: 700;
}

#welcomeDescription {
	font-size: 180%;
	font-weight: 700;
	margin-top: 30px;
	color: rgb(109, 107, 107);
}

#collabImage {
	width: 100%;
	/* margin-bottom: 50px; */
}

#carouselText {
	text-align: center;
	font-size: 150%;
}

#featureHeading {
	text-align: center;
	font-size: 300%;
	font-weight: 700;
}

#contactForm {
	margin-top: 30px;
}

blockquote {
	/* font-size: 1.4em; */
	width: 100%;
	/* margin: 50px auto; */
	font-family: 'Open Sans', sans-serif;
	/* font-style: italic; */
	/* color: #555555; */
	padding: 1.2em 30px 1.2em 75px;
	/* border-left: 8px solid #78C0A8;
  line-height: 1.6; */
	position: relative;
	/* background: #EDEDED; */
}

blockquote::before {
	font-family: Arial;
	/* font-size: 200%; */
	content: '\201C';
	color: gray;
	font-size: 6em;
	position: absolute;
	left: 10px;
	top: -30px;
}

.pricing .card {
	border: none;
	/* padding-top: 30px;
  padding-bottom: 30px; */
	/* height: 450px; */
	border-radius: 1rem;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.7);
}

.pricing hr {
	margin: 1.5rem 0;
}

.pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
}

.pricing .card-price {
	font-size: 3rem;
	/* margin: 0; */
}

.pricing .card-price .period {
	font-size: 0.8rem;
}

.pricing ul li {
	margin-bottom: 1rem;
}

.pricing .text-muted {
	opacity: 0.9;
}

.pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	padding: 1rem;
	opacity: 0.9;
	transition: all 0.2s;
	/* background-color: #6C63FF; */
}

.pricing .quantity {
	font-family: 'Bungee', cursive;
	font-size: 500%;
}

.pricing .mock-type {
	font-weight: 700;
	font-size: 150%;
}

.products .card {
	display: flex;
	/* border: none; */
	margin-right: 2%;
	border-radius: 1rem;
	transition: all 0.2s;
	opacity: 0.9;
	/* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.7); */
}

.products .card-body {
	text-align: center;
}

.products hr {
	margin: 1.5rem 0;
}

.products .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
}

.products .card-price {
	font-size: 3rem;
	/* margin: 0; */
}

.products .card-price .period {
	font-size: 0.8rem;
}

.products ul li {
	margin-bottom: 1rem;
}

.products .text-muted {
	opacity: 0.9;
}

.products .quantity {
	font-family: 'Bungee', cursive;
	font-size: 500%;
}

.products .mock-type {
	font-weight: 700;
	font-size: 150%;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
	.products .card:hover {
		opacity: 0.9;
		margin-top: -0.25rem;
		margin-bottom: 0.25rem;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.7);
		background-color: rgb(200, 232, 245);
	}
}

/* Hover Effects on Card */

/* @media screen and (max-width: 1199px) {
  .pricing .card {
      height: auto;
  }
} */

/* @media (min-width: 992px) {
  .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.7);
  }
  .pricing .card:hover .btn {
      opacity: 1;
  }
} */

section .testimonials {
	display: flex;
	align-items: center;
}

.dropdown-menu {
	cursor: pointer;
	text-align: left;
	outline: none;
	border: none;
	font-size: inherit;
	font-weight: inherit;
}

.dropdown {
	text-align: center;
}

.product {
	padding: 10px;
}

.course-type {
	font-family: 'Karla', sans-serif;
	/* letter-spacing: 3px; */
	/* line-height: 75px; */
	/* font-family: 'Bungee Shade', cursive; */
	font-size: 300%;
	font-weight: 700;
	margin-bottom: 20px;
}

.card-content {
	font-size: 150%;
}

@media screen and (max-width: 1199px) {
	.course-type {
		font-size: 200%;
	}
	.card-content {
		font-size: 120%;
	}
}

.course-level .title {
	font-family: 'Roboto Mono', monospace;
	font-size: 250%;
	text-align: center;
}

.course-level .content {
	text-align: center;
	font-size: 150%;
}

.course-level .content .content-list {
	font-size: 80%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.course-level .content .accordion-item {
	margin-bottom: 10px;
}

.course-level .content .accordion-item .btn {
	font-size: inherit;
}

.em-text {
	font-size: 180% !important;
}
